h1 {
  font-size: 60px;
  text-align: center;
  color: #513e06;
  text-shadow: 2px 2px 3px black;
  margin-top: 15px;
  margin-bottom: 25px;
}
table, th, td {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: #cdca89;
}
.class4{
  align-items: center;
}
.sort-buttons {
display: inline-flex;
flex-direction: column;
margin-left: 4px;
}
.sort-button {
  background: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.but{
  align-items: center;
  display: flex;
  float: left;
}
.hiksche{
  height: 20px;
  width: 30px;
  margin-left: 3px;
  margin-top: 3px;
}
.linkowe{
  font-size: 15px;
  margin-left: 75%;
  color: #513e06;
}
.linkowe2{
  font-size: 15px;
  margin-left: 85%;
  color: #513e06;
}
.linkowe3{
  font-size: 15px;
  margin-left: 80%;
  color: #513e06;
}
.linkowe:hover{
  color: #000000;
}
.linkowe2:hover{
  color: #000000;
}
.linkowe3:hover{
  color: #000000;
}
hr{
  background-color: #000000;
  border-color: #000000;
  height: 2px;
}
.class1 {
  width: 25%;
  margin-right: 10px;
}
.class2 {
  width: 80%;
  max-width: 400px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid black;
  font-size:16px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;
}
.class3{
  border-radius: 25px;
  width: 15%;
  max-width: 80px;
  min-width: 60px;
  height: 40px;
  border: 2px solid black;
  font-size:16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 75%; 
}
.inp{
	width: 80%;
}
.container {
    display: flex; 
    align-items: center;
	margin-top: 20px;
}
.class3:hover{
	background-color:gray;
	color:white;
}
.class4{
  background: #513e06;
  width: 60%;
  border-radius: 25px;
  border-color: black;
  border-width: 4px;
  margin: auto;
}
.class5{
  align-items: center;
  display: flex;
}
.butoni{
  background-color: #cdca89;
  border-radius: 25px;
  width: 30%;
  min-width: 100px;
  height: 30px;
  border: 2px solid black;
  font-size:16px;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: #000000;
  padding-top: 10px;
}
.butoni:hover{
	background-color:gray;
	color:white;
}
.ikonki{
  width: 20px;
  height: 20px;
  margin: 15px;
}
.items{
  align-items: center;
  display: flex;
}
.inf{
  font-size: 16px;
  color: black;
}